<section class="hero is-fullheight is-dark is-bold">

  <!-- About Page Navbar -->
  <div class="hero-head">
    <app-navbar></app-navbar>
  </div>

  <!-- About Page Body -->
  <div class="hero-body fadein">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-9-tablet is-6-desktop is-4-widescreen">
          <h1 class="title is-1"><i class="fab fa-lastfm-square"></i> About ngLastFM</h1>
          <h2 class="subtitle is-3">Version 1.1.0</h2>
          <p class="content is-medium">This is an Angular app that displays information about musical artists using the <a class="has-text-info" href="https://www.last.fm/api" target="_blank">LastFM API</a> and movies using <a class="has-text-info" href="https://developers.themoviedb.org/3/getting-started/introduction" target="_blank">TheMovieDB API</a>.  Both APIs are free and easy to use so start developing today!</p>
        </div>
      </div>
    </div>
  </div>

</section>