<section class="hero is-fullheight is-dark is-bold">

  <!-- About Page Navbar -->
  <div class="hero-head">
    <app-navbar></app-navbar>
  </div>

  <!-- About Page Body -->
  <div class="hero-body fadein">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-9-tablet is-6-desktop is-4-widescreen">
          <h1 class="title is-1"><i class="fab fa-lastfm-square"></i> About ngLastFM</h1>
          <h2 class="subtitle is-3">Version 1.0.0</h2>
          <p class="content is-medium">This is an Angular 5 app that uses the LastFM API to display basic information about artists and their top 5 songs.  For more information, including instructions on how to get your own free API key, visit Last.FM <a class="has-text-info" href="https://www.last.fm/api" target="_blank">here</a> to start developing today!</p>
        </div>
      </div>
    </div>
  </div>

</section>