<h1 class="title is-1">Need Music?</h1>
<p class="subtitle">Browse your favorite artists and see their top 5 songs using the LastFM API</p>

<form (ngSubmit)="searchMusic()">
  <div class="field has-addons">
    <div class="control has-icons-left is-expanded">
      <input class="input" type="text" name="searchStr" [(ngModel)]="searchStr" placeholder="Search Artists">
      <span class="icon is-small is-left"><i class="fab fa-lastfm"></i></span>
    </div>
    <div class="control"><button class="button is-link">Search</button></div>
    <div class="control"><a class="button is-info" (click)="reset()">Reset</a></div>
  </div>
</form><br>

<div class="fadein" *ngIf="searchResult">

  <!-- Display Artist -->
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <a href="{{ artist.url }}" target="_blank"><img src="{{ artist.image }}" alt="artistImage"></a>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <a class="has-text-info" href="{{ artist.url }}" target="_blank"><strong>{{ artist.name }}</strong></a>
            <br> <div innerHTML="{{ artist.summary }}"></div>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <div class="level-item">
              <div class="tags has-addons">
                <span class="tag is-dark">Listeners</span>
                <span class="tag is-info">{{ artist.listeners | number }}</span>
              </div>
            </div>
            <div class="level-item">
              <div class="tags has-addons">
                <span class="tag is-dark">Playcount</span>
                <span class="tag is-info"> {{ artist.playcount | number }}</span>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </article>
  </div>

  <!-- Display Tracks -->
  <h1 class="title has-text-centered">Top 5 Tracks</h1>
  <div *ngFor="let track of tracks">
    <div class="columns">
      <div class="column">
        <nav class="panel">
          <div class="panel-block">
            <div class="column is-8">
              <p class="title is-4 has-text-info"><a href="{{ track.url }}" target="_blank">{{ track.name }}</a></p>
            </div>
            <div class="column">
              <p class="subtitle has-white-text has-text-centered">Rank <br><span class="tag is-light">{{ track.rank }}</span></p>
            </div>
            <div class="column">
              <p class="subtitle has-white-text has-text-centered">Listeners <br><span class="tag is-info">{{ track.listeners | number }}</span></p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>